{% extends 'base.html.twig' %}

{% block title %}Mes adresses - Foot Ligue 1{% endblock %}

{% block content %}
    <a href="{{ path('account_address_add') }}" class="btn btn-info btn-sm float-right">Ajouter une adresse</a>
    
    <h2>Mes adresses</h2>

    <div>
        <a href="{{ path('account') }}">&larr; Retourner à mon compte</a><br>
    </div>
    <hr>
    {% if app.user.addresses|length == 0 %}
        <p>Vous n'avez aucune adresse d'enregistrer, veuillez en créer une en <a href="{{ path('account_address_add') }}">cliquant ici.</a></p>
    {% else %}
        <div class="row">
            {% for address in app.user.addresses %}
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ address.name }}</h5>
                            <p class="card-text">
                                {{ address.address }}<br>
                                {{ address.city }} ({{ address.postal }}), {{ address.country }}
                            </p>
                            <a href="{{ path('account_address_edit', {'id': address.id}) }}">Modifier</a> | <a href="{{ path('account_address_delete', {'id': address.id}) }}">Supprimer</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}