{% extends 'base.html.twig' %}

{% block title %}Se connecter - Foot Ligue 1{% endblock %}

{% block content %}
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Tu es connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            {% endif %}

            <h2 class="h3 mb-3 font-weight-normal">Se connecter</h2>
            <hr>
            
            <div class="block-login">
                <label for="inputEmail">Adresse e-mail</label>
                <input type="email" 
                    value="{{ last_username }}" 
                    name="email" id="inputEmail" 
                    class="form-control" 
                    autocomplete="email"
                    placeholder="Veuillez saisir votre adresse e-mail" 
                    required autofocus>
                
                <label for="inputPassword">Mot de passe</label>
                <input type="password" 
                    name="password" 
                    id="inputPassword" 
                    class="form-control" 
                    autocomplete="current-password"
                    placeholder="Veuillez saisir votre mot de passe" 
                    required>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}">

                <br>
                <button class="btn btn-lg btn-info btn-block" type="submit">Se connecter</button>
                <hr>
                    <a href="{{ path('register') }}">Créer un compte</a>
            </div>
        </form>       
{% endblock %}
