{% extends 'base.html.twig' %}

{% block title %}Nos produits - Foot Ligue 1{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-2">
            <h3>Filtrer par club(s)</h3>
            {{ form(form) }}
        </div>
        <div class="col-md-10">
            <h2>Nos produits</h2>

    <div class="row">
    {% for product in products %}
        <div class="card col-md-4">
            <a href="{{ path('product', {'slug' : product.slug}) }}">
            <img class="img-fluid" src="/uploads/{{ product.illustration }}" alt="Sample">

            <div class="card-body text-center">
                <h5>{{ product.name }}</h5>
                </a>
                <p class="small text-muted text-uppercase mb-2">{{ product.mark }}</p>
                <hr>
        
                <h6 class="mb-3">
                    <span class="text-danger mr-1">{{ (product.price / 100)|number_format(2, ',','.') }}€</span>
                </h6>

                <a href="{{ path('add_to_cart', { 'id' : product.id }) }}" class="btn btn-primary btn-sm mr-1 mb-2">
                    <img src="{{ asset('assets/images/shopping-cart.png') }}"> Ajouter au panier
                </a>
                <a href="{{ path('product', {'slug' : product.slug}) }}" class="btn btn-light btn-sm mr-1 mb-2">
                    <img src="{{ asset('assets/images/information.png') }}"> Voir produit</a>
            </div>
        </div>
        
    {% endfor %}
        </div>
    </div>
{% endblock %}