{% extends 'base.html.twig' %}

{% block title %}Inscription - Foot Ligue 1{% endblock %}

{% block content %}
    <h2>Inscription</h2>
    <hr>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-7">{{ form_row(form.firstname)}}</div>
        <div class="col-md-7">{{ form_row(form.lastname)}}</div>
        <div class="col-md-7">{{ form_row(form.email)}}</div>
        <div class="col-md-7">{{ form_row(form.password)}}</div>
    </div>
    {{ form_end(form) }}

{% endblock %}
